@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes float {
  0% {
    -webkit-transform: translate(600px, 250px) rotate(0deg) translate(-200px, -200px) rotate(0deg);
  }
  13% {
    -webkit-transform: translate(600px, 250px) rotate(45deg) translate(-200px, -200px) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(600px, 250px) rotate(90deg) translate(-200px, -200px) rotate(0deg);
  }
  38% {
    -webkit-transform: translate(600px, 250px) rotate(135deg) translate(-200px, -200px) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(600px, 250px) rotate(180deg) translate(-200px, -200px) rotate(0deg);
  }
  63% {
    -webkit-transform: translate(600px, 250px) rotate(225deg) translate(-200px, -200px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(600px, 250px) rotate(270deg) translate(-200px, -200px) rotate(0deg);
  }
  88% {
    -webkit-transform: translate(600px, 250px) rotate(315deg) translate(-200px, -200px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(600px, 250px) rotate(360deg) translate(-200px, -200px) rotate(0deg);
  }
}
.starship {
  position: absolute;
  top: 20%;
}

.float-ease-in-out {
  animation: float 20s infinite linear;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin-top: 100px;
  display: block;
  padding: 1em 1.5em;
  text-decoration: none;
  transform: skewX(-30deg);
  transition: 0.5s all;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  font-family: "Kanit", sans-serif;
  z-index: 3;
}
.button span {
  display: block;
  transform: skew(30deg);
  letter-spacing: 2px;
  font-size: 18px;
}
.button:hover {
  background-color: whitesmoke;
}
.button:hover span {
  color: black;
}
.button.type1 {
  color: whitesmoke;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.5s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 13px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: whitesmoke;
  border-right-color: whitesmoke;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-top-left-radius: 13px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: whitesmoke;
  border-left-color: whitesmoke;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Merci kléklé ->  https://github.com/ClemOurs */
}

.body-homepage {
  background-image: url(/assets/background-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.homepage-section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.homepage-section .logoHome {
  width: 300px;
}
.homepage-section .homepage-title {
  text-align: center;
  color: whitesmoke;
  margin: 0 auto;
  width: 55%;
  font-size: 46px;
  font-family: "Kanit", sans-serif;
}
@media screen and (max-width: 1200px) {
  .homepage-section .homepage-title {
    width: 90%;
  }
}
.homepage-section .labelForm {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  margin-top: 50px;
}
.homepage-section input {
  margin-top: 10px;
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Merci kléklé ->  https://github.com/ClemOurs */
}

.body-story {
  background-image: url(/assets/background-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.homepage-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.homepage-section .homepage-title {
  text-align: center;
  color: whitesmoke;
  margin: 0 auto;
  width: 55%;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
}
@media screen and (max-width: 1200px) {
  .homepage-section .homepage-title {
    width: 90%;
  }
}
.homepage-section .labelForm {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  margin-top: 50px;
}
.homepage-section input {
  margin-top: 10px;
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Merci kléklé ->  https://github.com/ClemOurs */
}

.centeredElements {
  justify-content: center !important;
}

.enigma-visual {
  background-image: url(/assets/bg-crea.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.enigma-visual .wyntd-enigma {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  font-size: 22px;
}
.enigma-visual .img-enigma-kfc {
  z-index: 3;
}
.enigma-visual .containerKFCBox {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.enigma-visual .containerKFCBox .boxColor {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid transparent;
  z-index: 3;
}
.enigma-visual .containerKFCBox .borderSelected {
  border-color: green;
}
.enigma-visual .containerKFCBox .boxColor:hover {
  border-color: white;
}
.enigma-visual .containerKFCBox .boxColor:focus-within {
  border-color: green;
}
.enigma-visual .containerKFCBox .boxColor:nth-child(1) {
  background-color: #91070b;
}
.enigma-visual .containerKFCBox .boxColor:nth-child(2) {
  background-color: #A3080C;
}
.enigma-visual .containerKFCBox .boxColor:nth-child(3) {
  background-color: #a8070c;
}
.enigma-visual .containerCoca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.enigma-visual .containerCoca img {
  width: 450px;
  padding: 1em 2em;
  border: 2px solid transparent;
  z-index: 3;
  border-radius: 10px;
}
.enigma-visual .containerCoca .borderSelected {
  border-color: green;
}
.enigma-visual .containerCoca img:hover {
  border-color: white;
}
.enigma-visual .containerCoca img:focus-within {
  border-color: green;
}
.enigma-visual .Chupacontainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.enigma-visual .Chupacontainer p {
  font-size: 20px;
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  padding: 1em 2em;
  border: 2px solid transparent;
  z-index: 3;
}
.enigma-visual .Chupacontainer .borderSelected {
  border-color: green;
}
.enigma-visual .Chupacontainer p:hover {
  border-color: white;
}
.enigma-visual .Chupacontainer p:focus-within {
  border-color: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Merci kléklé ->  https://github.com/ClemOurs */
}

.body-com {
  background-color: #252942;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-com .socialmediaImg {
  z-index: 3;
}
.body-com .com-title {
  z-index: 3;
  text-align: center;
  color: whitesmoke;
  margin: 0 auto;
  width: 75%;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
}
@media screen and (max-width: 1200px) {
  .body-com .com-title {
    width: 90%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Merci kléklé ->  https://github.com/ClemOurs */
}

.body-dev {
  background-color: rgb(16, 16, 16);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-dev .picturehomedev {
  width: 150px;
  z-index: 3;
}
.body-dev .dev-title {
  z-index: 3;
  text-align: center;
  color: whitesmoke;
  margin: 0 auto;
  width: 75%;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .body-dev .dev-title {
    width: 90%;
  }
}
.body-dev .decodev {
  position: absolute;
  width: 70vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Merci kléklé ->  https://github.com/ClemOurs */
}

.body-crea {
  background-image: url(/assets/bg-crea.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-crea .imgCreaBottomHome {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
}
.body-crea .crea-title {
  text-align: center;
  color: whitesmoke;
  margin: 0 auto;
  width: 75%;
  font-size: 30px;
  font-family: "Kanit", sans-serif;
}
@media screen and (max-width: 1200px) {
  .body-crea .crea-title {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
