* {
    @include origin;
}
.centeredElements {
    justify-content: center !important;
}
.enigma-visual {
    background-image: url(/assets/bg-crea.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .wyntd-enigma {
        color: whitesmoke;
        font-family: $fontHome;
        font-size: 22px;
    }

    

    .img-enigma-kfc {
        z-index: 3;
    }

    .containerKFCBox {
        display: flex;
        justify-content: space-between;
        width: 40%;

        .boxColor {
            width: 150px;
            height: 150px;
            border-radius: 10px;
            border: 3px solid transparent;
            z-index: 3;
        }
        .borderSelected {
            border-color: green;
        }
        .boxColor:hover {
            border-color: white;
        }
        .boxColor:focus-within {
            border-color: green;
        }
        .boxColor:nth-child(1) {
            background-color: #91070b;
        }
        .boxColor:nth-child(2) {
            background-color: #A3080C;
        }
        .boxColor:nth-child(3) {
            background-color: #a8070c;
        }
    }
    .containerCoca {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            width: 450px;
            padding: 1em 2em;
            border: 2px solid transparent;
            z-index: 3;
            border-radius: 10px;
        }
    
        .borderSelected {
            border-color: green;
        }
        img:hover {
            border-color: white;
        }
        img:focus-within {
            border-color: green;
        }
    }
    .Chupacontainer {
        display: flex;
        justify-content: space-between;
        width: 40%;

        p {
            font-size: 20px;
            color: whitesmoke;
            font-family: $fontHome;
            padding: 1em 2em;
            border: 2px solid transparent;
            z-index: 3;
        }

        .borderSelected {
            border-color: green;
        }
        p:hover {
            border-color: white;
        }
        p:focus-within {
            border-color: green;
        }
    }
}

.enigma-humano {
    background-color: #252942;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .wyntd-enigma {
        color: whitesmoke;
        font-family: $fontHome;
        font-size: 22px;
        text-align: center;
        z-index: 3;
    }
    .socials {
        z-index: 3;
    }
    .personnasSocial {
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: flex-end;
        z-index: 3;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input {
                background-color: transparent;
                border: none;
                border-bottom: 4px solid #11A4DB;
                color: whitesmoke;
                text-transform: uppercase;
            }
        }
    }
    .socialsPersona {
        width: 70%;
    }
    .personnasTransport {
        display: flex;
        gap: 30px;
        margin-top: 10px;

        img {
            padding: 10px;
            border-radius: 10px;
            border: 3px solid transparent;
            z-index: 3;
        }
        .borderSelected {
            border-color: green;
        }
        img:hover {
            border-color: white;
        }
        img:focus-within {
            border-color: green;
        }
    }
}
.enigma-mathemos {
    background-color: rgb(16, 16, 16);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .picturehomedev {
        width: 150px;
        z-index: 3;
    }

    .dev-title {
        z-index: 3;
        text-align: center;
        color: whitesmoke;
        margin: 0 auto;
        width: 75%;
        font-size: 30px;
        font-family: $fontHome;
        margin-top: 50px;
        @include xl {
            width: 90%;
        }
    }

    .decodev {
        position: absolute;
        width: 70vw;
    }
    .keyEnigma {
        z-index: 3;
        position: absolute;
    }
    .keyEnigmaInputs {
        display: flex;
        color: whitesmoke;
        font-family: $fontHome;
        font-size: 25px;
        z-index: 3;
        gap: 10px;
        input {
            background-color: transparent;
            border: none;
            border-bottom: 3px solid greenyellow;
            width: 50px;
            color: greenyellow;
            font-size: 20px;
        }
    }
    .key {
        position: absolute;
        z-index: 4;
    }

}
.fullstack {
    z-index: 3;
    background-color: transparent;
    border: none;
    border: 3px solid greenyellow;

    width: 200px;
    height: 50px;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    text-transform: lowercase;
}