* {
    @include origin;
}
.body-com {
    background-color: #252942;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .socialmediaImg {
        z-index: 3;
    }

    .com-title {
        z-index: 3;
        text-align: center;
        color: whitesmoke;
        margin: 0 auto;
        width: 75%;
        font-size: 30px;
        font-family: $fontHome;
        @include xl {
            width: 90%;
        }
    }
}