@keyframes float {
  0% {
    -webkit-transform:translate(600px, 250px) rotate(0deg) translate(-200px, -200px) rotate(0deg);
}  
  13% {
      -webkit-transform:translate(600px, 250px) rotate(45deg) translate(-200px, -200px) rotate(0deg);
  }
  25% {
    -webkit-transform:translate(600px, 250px) rotate(90deg) translate(-200px, -200px) rotate(0deg);
  }
  38% {
    -webkit-transform:translate(600px, 250px) rotate(135deg) translate(-200px, -200px) rotate(0deg);
  }
  50% {
    -webkit-transform:translate(600px, 250px) rotate(180deg) translate(-200px, -200px) rotate(0deg);
  }
  63% {
    -webkit-transform:translate(600px, 250px) rotate(225deg) translate(-200px, -200px) rotate(0deg);
  }
  75% {
    -webkit-transform:translate(600px, 250px) rotate(270deg) translate(-200px, -200px) rotate(0deg);
  }
  88% {
    -webkit-transform:translate(600px, 250px) rotate(315deg) translate(-200px, -200px) rotate(0deg);
  }
  100% {
      -webkit-transform:translate(600px, 250px) rotate(360deg) translate(-200px, -200px) rotate(0deg);
  }
}

.starship {
position: absolute;
top: 20%;
}

.float-ease-in-out {
    animation: float 20s infinite linear;
}